<ng-container *ngIf="message != undefined">
  <div class="card border-bottom">
    <div class="card-body">
      <div class="media">
        <div class="avatar mr-3">
          <img class="avatar-img" src="{{message.sender.profileImage}}" alt="Profile Image">
        </div>
        <div class="media-body overflow-hidden">
          <div class="d-flex align-items-center mb-auto">
            <h5 class="text-truncate mr-auto">{{ message.sender.name }}</h5>
            <p class="small text-muted text-nowrap ml-4">
              {{ formatDate(message.date) }}
            </p>
          </div>
          <div class="text-truncate">
            <div *ngIf="!message.read" class="font-weight-bold">
              {{ message.content }}
            </div>
            <div *ngIf="message.read">
              {{ message.content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
